.home{
  background-color: #000;
  color: #FFF;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 15px 25px
}
.home h1{
  font-size: 3rem;
}
.home p{
  font-size: 1.5rem;
}
.home ul{
  list-style: circle;
  padding: 0px 0px 10px 15px;
  align-self: stretch;
}
.home ul li a{
  font-size: 1.3rem;
  text-decoration: underline;
}